    @charset "utf-8";

    #top-img {
        width: auto;
        max-width: 1280px;
        margin: 0 auto;
    }

    #pc-img {
        display: block;
        width: auto;
        max-width: 1250px;
        margin: 0 auto;
        padding: 0 10px;
    }

    #sp-img {
        display: none;
    }

    h1 {
        font-size: px;
        margin-top: 95px;
        margin-bottom: 50px;
    }

    h2 {
        font-size: 30px;
        text-align: center;
        margin-bottom: 40px;
    }

    .maintext {
        text-align: center;
        margin-top: 100px;
        margin-bottom: 177px;
    }

    #maintext2 {
        background-color: #fff;
        background-image: linear-gradient(90deg, transparent 0%, transparent 50%, #fff 50%, #fff 100%),
            linear-gradient(180deg, #ccc 1px, transparent 1px);
        background-size: 8px 100%,
            100% 2.5em;
        line-height: 2.5em;
        padding-bottom: 1px;
        width: 570px;
        margin: 0 auto;
    }

    #maintext2 p {
        margin: 0;
    }

    .bumonimg {
        display: block;
        text-align: center;
    }

    /*応募リスト*/


    #titlebg {
        position: absolute;
        top: -29px;
        left: 42%;
        font-size: 110px;
        color: #0000000a;
        font-weight: 100;
    }

    #list-oubo {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        width: auto;
        margin: 0 auto;
        padding: 10px;
        box-sizing: content-box;
    }

    #list-oubo figure img:hover {
        opacity: 0.7;
    }

    #list-oubo figcaption {
        text-align: center;
        margin-top: 50px;
        font-size: 100%;
        font-weight: bold;
    }

    .bumon-text p {
        font-size: 100%;
        text-align: center;
        margin-top: 100px;
        margin-bottom: 80px;
    }

    .bumonkome img {
        display: block;
        margin: 0 auto;
        padding-bottom: 85px;
    }

    #marker {
        background: linear-gradient(transparent 75%, #EBF0F1 75%);
        padding-left: 8px;
    }

    /* 応募はこちら */

    #oubo-form {
        height: 30rem;
        width: auto;
        background-color: #EBF0F1;
        margin-top: 100px;
        margin-bottom: 180px;
    }

    #oubo-text {
        display: block;
        padding-top: 160px;
    }

    #oubo-img img {
        display: block;
        margin: 0 auto;
        padding-top: 190px;
    }

    #oubo-img img:hover {
        opacity: 0.6;
    }

    /* ↓応募規約のテーブル */

    table {
        max-width: 1280px;
        border: 1px solid #00003A;
        border-collapse: collapse;
        margin: 0 auto;
    }

    caption {
        margin-bottom: 40px;
        font-size: 30px;
    }

    table ul {
        list-style: "〇";
        padding: 0;
        margin-left: 20px;
    }

    th {
        border: 1px solid #00003A;
        padding: 10px;
    }

    td {
        border: 1px solid #00003A;
        padding: 10px;
    }

    table li {
        white-space: pre-line;
        padding-bottom: 10px;
    }

    .jump {
        padding-top: 130px;
        margin-top: -70px;
        position: relative;
    }
    #titlebg2 {
        position: absolute;
        top: -29px;
        left: 42%;
        font-size: 110px;
        color: #0000000a;
    }

    /* タブレット */

    @media screen and (max-width: 959px) {
        #pc-img {
            width: 100%;
            max-width: 959px;
            height: auto;
            box-sizing: border-box;
        }

        table {
            margin: 0 10px;
            font-size: 0.9rem;
        }

        table th {
            writing-mode: vertical-rl;
        }

        table caption {
            font-size: 1.1rem;
        }
        #titlebg {
            position: absolute;
            top: 17px;
            left: 42%;
            font-size: 84px;
        }
        #titlebg2{
            position: absolute;
            top: 30px;
            left: 42%;
            font-size: 84px;
        }
    }

    /* スマホ */

    @media screen and (max-width: 599px) {
        .jump img {
            width: 224px;
        }
        #pc-img {
            display: none;
        }

        #sp-img {
            display: block;
            width: 100%;
            max-width: 390px;
            margin: 0 auto;
        }

        h1 {
            font-size: 1.1rem;
        }

        h2 {
            font-size: 100%;
        }
        #titlebg {
                position: absolute;
                top: 74px;
                left: 40%;
                font-size: 46px;
        }

        #titlebg2 {
            position: absolute;
            top: 74px;
            left: 40%;
            font-size: 46px;
        }
        .maintext {
            font-size: 0.8rem;
            margin-bottom: 100px;
        }

        #maintext2 {
            width: 98%;
        }

        .bumon-text p {
            font-size: 80%;
        }

        .bumonkome img {
            width: 100%;
            height: auto;
            margin: 0 auto;
            padding-left: 10px;
            padding-right: 10px;
            box-sizing: border-box;
        }

        figure {
            margin-bottom: 72px;
        }

        #list-oubo figcaption {
            margin-top: 20px;
            font-size: 80%;
        }

        #list-oubo {
            display: block;
            width: auto;
            padding: 0;
            text-align: center;
        }

        #list-oubo img {
            width: 80%;
            height: auto;
        }

        #oubo-form {
            height: 21em;
        }

        #oubo-text {
            font-size: 1.1rem;
            padding-top: 120px;
        }

        #oubo-img img {
            width: 100%;
            height: auto;
            margin: 0 auto;
            padding-left: 10px;
            padding-right: 10px;
            box-sizing: border-box;
        }

        #f-minilogo img {
            width: 50%;
            height: auto;
            margin-left: 25px;
        }
    }