    @charset "utf-8";
    #top-img {
        width: auto;
        max-width: 1280;
    }
    
    #pc-img {
        display: block;
        width: auto;
        max-width: 1280px;
        margin: 0 auto;
        padding: 0 10px;
    }
    
    #sp-img {
        display: none;
    }
    
    h1 {
        font-size: 40px;
        margin-top: 95px;
        margin-bottom: 50px;
    }
    
    h2 {
        font-size: 30px;
        text-align: center;
        margin-bottom: 40px;
    }
    
    .maintext {
        text-align: center;
        margin-top: 36px;
        margin-bottom: 268px;
    }
    
    .bumonimg {
        display: block;
        text-align: center;
    }
    /*応募リスト*/
    
    #list-oubo {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        width: auto;
        margin: 0 auto;
        padding: 10px;
        box-sizing: content-box;
    }
    
    #list-oubo figure img:hover {
        opacity: 0.7;
    }
    
    #list-oubo img {
        display: block;
    }
    
    #list-oubo figcaption {
        text-align: center;
        margin-top: 50px;
        font-size: 100%;
        font-weight: bold;
    }
    
    .bumon-text p {
        font-size: 100%;
        text-align: center;
        margin-top: 100px;
        margin-bottom: 80px;
    }
    
    .bumonkome img {
        display: block;
        margin: 0 auto;
        padding-bottom: 85px;
    }
    /* 応募はこちら */
    
    #oubo-form {
        height: 30rem;
        width: auto;
        background-color: #EBF0F1;
        margin-top: 100px;
        margin-bottom: 180px;
    }
    
    #oubo-text {
        display: block;
        padding-top: 160px;
    }
    
    #oubo-img img {
        display: block;
        margin: 0 auto;
    }
    
    #oubo-img img:hover {
        opacity: 0.6;
    }
    /* ↓応募規約のテーブル */
    
    table {
        max-width: 1280px;
        border: 1px solid #00003A;
        border-collapse: collapse;
        margin: 0 auto;
    }
    
    caption {
        margin-bottom: 40px;
        font-size: 30px;
        font-weight: bold;
    }
    
    table ul {
        list-style: "〇";
    }
    
    th {
        border: 1px solid #00003A;
        padding: 10px;
    }
    
    td {
        border: 1px solid #00003A;
        padding: 10px;
    }
    
    table li {
        white-space: pre-line;
        padding-bottom: 10px;
    }
    
    .jump {
        padding-top: 130px;
        margin-top: -70px;
    }
    /* タブレット */
    
    @media screen and (max-width: 959px) {
        #top-img {
            max-width: 100%;
            height: auto;
        }
    }
    /* スマホ */
    
    @media screen and (max-width: 599px) {
        #pc-img {
            display: none;
        }
        #sp-img {
            display: block;
            width: 100%;
            max-width: 390px;
            margin: 0 auto;
        }
        h1 {
            font-size: 1.1rem;
        }
        h2 {
            font-size: 100%;
        }
        .maintext {
            font-size: 0.8rem;
            margin-bottom: 100px;
        }
        .bumon-text p {
            font-size: 80%;
        }
        .bumonkome img {
            width: 100%;
            height: auto;
            margin: 0 auto;
            padding-left: 10px;
            padding-right: 10px;
            box-sizing: border-box;
        }
        figure {
            margin-bottom: 72px;
        }
        #list-oubo figcaption {
            margin-top: 20px;
        }
        #list-oubo {
            display: block;
            width: auto;
            padding: 0;
        }
        #list-oubo img {
            width: 100%;
            height: auto;
        }
        #oubo-text {
            font-size: 1.1rem;
        }
        #oubo-img img {
            width: 100%;
            height: auto;
            margin: 0 auto;
            padding-left: 10px;
            padding-right: 10px;
            box-sizing: border-box;
        }
        table {
            margin: 0 10px;
            font-size: 0.9rem;
        }
        table caption {
            font-size: 1.1rem;
        }
        table th {
            writing-mode: vertical-rl;
        }
        #f-minilogo img {
            width: 50%;
            height: auto;
            margin-left: 25px;
        }
    }